In [1]:
import pandas as pd
yt=pd.read_csv('data.csv')

In [17]:
yt[yt['Channel name']=="ItsHARSH007 Gaming"]

         Rank Grade        Channel name Video Uploads Subscribers  Video views
2404  2,405th   B+   ItsHARSH007 Gaming             1       23499           75

In [4]:
yt[yt['Subscribers']==yt['Subscribers'].max()]['Channel name']

1002    BIGBANG
Name: Channel name, dtype: object

In [6]:
yt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
Rank             5000 non-null object
Grade            5000 non-null object
Channel name     5000 non-null object
Video Uploads    5000 non-null object
Subscribers      5000 non-null object
Video views      5000 non-null int64
dtypes: int64(1), object(5)
memory usage: 234.5+ KB

In [15]:
yt[yt['Video views']==yt['Video views'].min()]['Channel name']

2404    ItsHARSH007 Gaming
Name: Channel name, dtype: object